449_video.py
449.py
componentes.py
datalist.py
entry1.py
etiqueta.py
gordas.jpg
gordas.png
grid.py
hola_mundo.py
icono.ico
image.py
list_comprehensions.py
menu.py
progressbar.py
scroll_text.py
editor_texto.py

